.message {

}

.imageAndText {
    margin-left: 1000px;
}

.imageAndText img {

}

.text {

}

.text:after {

}

.name {
margin-left: -75px;
    margin-top: -200px;
}

.messageText {
margin-left: -75px;
    margin-top: 20px;

}

.time {
margin-left: 1075px;
    margin-top: 140px;
}