.friendMessage {

}

.friendImageAndText {

}

.friendImageAndText img {

}

.friendText {

}

.friendText:after {

}

.friendName {
margin-left: 220px;
    margin-top: -200px;
}

.friendMessageText {
margin-left: 220px;
}

.friendTime {
margin-top: 160px;
    margin-left: 75px;
}
